<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="position: relative;
		  left: 50%;
		  margin-left: -210px;">
            <div class="panel panel-default" style="background: white">
                <div class="panel-body">
                    <h1 class="text-center text-info">Register</h1>
                    <form action="" enctype="multipart/form-data" method="post" role="form" style="margin-top: 50px">
                        <?php
                        if (!empty($this->dataView['err'])) {
                            echo '<p class="err">' . implode('<br>', $this->dataView['err']) . '</p>';
                        }
                        if (!empty($this->dataView['msg'])) {
                            echo '<p class="msg">' . implode('<br>', $this->dataView['msg']) . '</p>';
                        }
                        ?>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="">Fullname</label>
                            <input type="text" class="form-control" name="fullname" placeholder="Enter fullname">
                        </div>
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" name="uname" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="pwd" placeholder="Enter passwoord">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>