<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MVC</title>
    <style type="text/css">
        .err {
            padding: 10px;
            background: yellow;
            color: red;
        }

        .msg {
            padding: 10px;
            background: cyan;
            color: blue;
        }
    </style>
    <link rel="stylesheet" href="Public/css/bootstrap.min.css">
</head>
<body style="background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #555)),
-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #555));
background-image: -webkit-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
-webkit-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
-webkit-linear-gradient(45deg, transparent 75%, #555 75%),
-webkit-linear-gradient(-45deg, transparent 75%, #555 75%);
background-image: -moz-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
-moz-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
-moz-linear-gradient(45deg, transparent 75%, #555 75%),
-moz-linear-gradient(-45deg, transparent 75%, #555 75%);">
s<div class="container">
    <?php
    if (!empty($_SESSION['auth'])) {
// có đăng nhập
        echo 'Xin chao: ' . $_SESSION['auth']['username'];
        echo '<br><a class="btn btn-primary" href="' . base_path . '/?act=logout">Logout</a>';
    }
//    } else {
//        if ($_GET['act'] !== 'login') {
//            echo '<a style="position: absolute;left: 50%;top: 140px;" href="' . base_path . '/?ct=index&act=login" class="btn btn-info" role="button">Login</a>';
//        }
//    }
    ?>
</div>
<div class="container">
    <h1 class="text-center">Đây là file Layout.phtml</h1>
    <h5 class="text-center">Khu vực này hiển thị nội dung trong view</h5>
    <?php $this->showContent(); ?>
</div>
<script type="text/javascript" src="Public/js/jquery.min.js"></script>
<script type="text/javascript" src="Public/js/bootstrap.min.js"></script>
</body>
</html>