/*footer*/
.footer {
    background: #2b2a2a none repeat scroll 0 0;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    /*color: #fff;*/
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    color: #fff;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
.a-font {
    color: #fff!important;
    text-decoration: none!important;
}
.copyright {
    min-height: 79px;
    background-color: #343a40;
}

.copyright p {
    text-align:left;
    color:#FFF;
    padding:10px 0;
    margin-bottom:0px;
}
.heading7 {
    font-size:21px;
    font-weight:700;
    color:#d9d6d6;
    margin-bottom:22px;
}
.post p {
    font-size:12px;
    color:#FFF;
    line-height:20px;
}
.post p span {
    display:block;
    color:#8f8f8f;
}
.bottom_ul {
    list-style-type:none;
    float: right;
    margin-bottom: 0px;
    padding-top: 22px;
}
.bottom_ul li {
    float:left;
    line-height:40px;
}
.bottom_ul li:after {
    content:"";
    color:#FFF;
    margin-right:8px;
    margin-left:8px;
}
.bottom_ul li a {
    color:#FFF;
}

#copyright p, #copyright ul {
    margin: 0;
    float: left;
    font-size: 14px;
    color: #000000;
}

footer.site-footer ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

@media (min-width: 768px){
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.bg-dark {
    background-color: #222!important;
}