<h2>Nội dung trong file view: List all </h2>
<?php
echo '<table style="border-collapse: collapse;" border="1px" width="600">';
echo "<tr>";
echo '<th style="text-align: center;padding: 5px;">' . "id" . '</th>';
echo '<th style="text-align: center;padding: 5px;">' . "fullname" . '</th>';
echo '<th style="text-align: center;padding: 5px;">' . "username" . '</th>';
echo '<th style="text-align: center;padding: 5px;">' . "email" . '</th>';
echo '<th style="text-align: center;padding: 5px;">' . "password" . '</th>';
echo '<th style="text-align: center;padding: 5px;">' . "id_role" . '</th>';
echo "</tr>";
foreach ($this->dataView as $row) {
    echo "<tr>";
    foreach ($row as $column) {
        echo "<td style='padding: 5px;'>$column</td>";
    }
    echo "</tr>";
}
echo '</table>';
