.nav-logout {
    display: inline-block !important;
}
.nav-logout:hover a {
    color: #ffffff !important;
    background: #F15D22 !important;
}
.form-setup-admin label {
    font-size: 20px;
}
.form-setup-admin input {
    height: 45px;
}
.form-setup-admin input:focus {
    border: 2px solid #40adbf;
}
.form-setup-admin .select-data {
    height: 45px;
}
.form-setup-admin .select-data:focus {
    border: 2px solid #40adbf;
}