.detail-page .detail-page__list {
    color: #00b8ff;
    border-bottom: 2px solid #f0ff00;
    font-size: 16px;
    font-weight: 600;
}
.detail-page .detail-page__title {
    color: #aaaaaa;
    font-weight: 600;
}
.detail-page .detail-page__img {
    margin: 0 auto;
    display: block;
    padding: 25px 0;
}
.detail-page .detail-page__content {
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
    color: #000000ab;
}