* {
    font-family: Arial, Helvetica, sans-serif !important;
}
.bg-header-nav {
    background: #ffcc32;
}
.bg-header-nav .bg-header-nav__content {
    padding: 10px 0;
}
.bg-header-nav .bg-header-nav__content h1 {
    font-size: 2em;
    color: #300;
    margin-bottom: 5px;
}
.bg-header-nav .bg-header-nav__content h2 {
    font-size: 1em;
    color: #8b7272;
}
.bg-nav {
    background-color: #f2f4f9;
    padding: 8px 16px;
}
.bg-nav .bg-light {
    background-color: #f2f4f9 !important;
}
.bg-nav .bg-light ul .setup-nav {
    padding: 0 15px;
    margin: 0 0.5rem;
    transition: ease all 0.3s;
}
.bg-nav .bg-light ul .setup-nav:hover {
    background: #F15D22;
    border-radius: 5px;
}
.bg-nav .bg-light ul .setup-nav a {
    font-size: 16px;
    color: #FFAB00 !important;
}
.bg-nav .bg-light ul .setup-nav a:hover {
    color: #FFFFFF !important;
}
.bg-nav .bg-light ul .nav-logout {
    display: inline-block;
}
.bg-nav .bg-light ul .nav-logout:hover a {
    color: #ffffff;
    background: #F15D22;
}
.bg-setup-form {
    background-image: url(https://www.fieldstonecommunities.com/wp-content/uploads/2016/08/Form-Background.jpg);
    background-size: cover;
    background-position: center;
}
.box-post {
    display: flex;
    align-items: center;
}
.box-post .box-post__content {
    margin-left: 20px;
}
.box-post .box-post__content a {
    color: #aaaaaa;
}
.box-post .box-post__content a:hover {
    color: blueviolet;
}
.box-post .box-post__content .hr-space {
    background: #ffcc32;
    height: 2px;
    margin: 5px 0;
}
.title-des {
    font-size: 2em;
    border-bottom: 2px solid #ffcc32;
    padding-bottom: 10px;
    color: #000000;
}
.bg-footer {
    background-color: #242729;
    margin-top: 30px;
}
.bg-footer footer {
    height: 200px;
    padding-top: 25px;
    color: white;
}
.bg-footer footer ul li {
    padding: 0.5em 0;
}
.bg-footer footer ul li a {
    color: #FFAB00;
}
.bg-footer footer ul li p {
    color: #FFAB00 !important;
}
.bg-copyright {
    background: #3b4045;
    color: white;
}
.bg-copyright a {
    color: #FFAB00;
}
.form-setup label {
    font-size: 20px;
}
.form-setup input {
    height: 45px;
}
.form-setup input:focus {
    border: 2px solid #40adbf;
}
.form-setup button {
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease all 0.3s;
}
.form-setup button:hover {
    background: #0D719A;
    border-color: #0D719A;
}
