*{
    padding: 0;
    margin: 0;
}
.box-about-us{
    padding: 0 !important;
}
.about-us{
    width: 100%;
}
.about-bg-top{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background-color: #de5017;
}
.about-bg-top>label{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    line-height: 120px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px grey;
}
.about-bg-top::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 240px;
    background-color: #de5017;
    z-index: -1;

}
.about-content{
    width: 100%; max-width: 1200px;
    height: auto;
    padding: 5px;
    background-color: #F2F3F5;
    margin: 10px auto;
    box-shadow: 0px 0px 7px -1px gray;

}
.about-content-img{
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border: 10px solid #fff;
}
.about-content-img>img{
    width: 100%;
    height: auto;
}
.about-content-text{
    padding: 10px 15px;
}
.about-content-text>label{
    font-size: 20px;
    color: #F15D22;
    font-weight: bold;
}
.about-content-text>p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
    color: rgb(37, 35, 35);
}
@media all and (max-width:1200px){
    .about-bg-top{
        height: 80px;
    }
    .about-bg-top>label{
        font-size: 16px;
        line-height: 80px;
    }
    .about-content-img{
        width: 100%;
    }

}