*{
    padding: 0;
    margin: 0;
}
.booking-bg{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-image: linear-gradient(rgba(47,103,177,.5), rgba(47,103,177,.5)), url("../images/background.jpg");
}
.booking-page{
    transform: translate(0px , 30%);
}
.booking-form{
    background-color: #fff;
    max-width: 360px; width: 100%;
    padding: 50px 20px;
    border-radius: 5px;
    margin: 0 auto;
}
.booking-form .form-control{
    background-color: #ebecee;
    border: none;
    margin: 10px 0px;
}
.form-lable{
    font-size: 15px;
    color: rgb(24, 23, 23);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif !important;
}
.form-btn{
    width: 65%;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 111;
    border-radius: 5px;
    margin-top: 25px;
}
.inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.form-btn .form-booking-submit{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.form-btn:hover .inner{
    left: 0;
}
.booking-text-item{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    transform: translate(0px, 50%);
}
.booking-text-item>h1{
    color: #fff;
    font-weight: bold;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif !important;
}
.booking-text-item>p{
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
}
@media all and (max-width: 767px ){
    .booking-page{
        transform: translate(0px , 5%);
    }
    .booking-text-item{
        transform: translate(0px, 5%);
        text-align: center;
    }
}
@media all and (max-width: 500px ){
    .booking-text-item>h1{
        font-size: 25px;
    }
    .booking-text-item>p{
        font-size: 13px;
    }
}