*{
    padding: 0;
    margin: 0;
}

.bk-pay{
    background-color: #f5f5f5;
    border: 1px solid #C4C4C4 ;
}
.title{
    width: 300px;
    margin: 0 auto;
}
.title>h1{
    font-size: 25px;
    color: gray;
    padding: 15px;
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}
.bk-pay-title{
    background-color: #242424;
    padding: 15px 15px;
}
.bk-pay-title>h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 22px;
    margin: 0;
}
.bk-recap-hotel{
    padding: 10px;
    border-bottom: 1px solid #C4C4C4 ;
}
.bk-recap-hotel th{
    font-size: 20px;
    font-weight: normal;
    color: black;
}
.bk-recap-hotel tr{
    color: gray;
    line-height: 30px;
}
.bk-recap-booking{
    border-right: 1px solid #C4C4C4;
    padding: 15px;                    
}

.bk-recap-room span{
    font-weight: bold;
    font-size: 18px;
}
.bk-recap-room p{
    color: gray;
}
.price{
    color:rgb(39, 38, 38);
    font-size: 19px;
    float: right;
    font-weight: bold;
}
.bk-recap-total span{
    font-weight: bold;
    font-size: 18px;
}
.bk-recap-form{
    padding: 10px 52px;
}
.bk-recap-form>h1{
    font-size: 23px;
    font-weight: normal;
}
.bk-recap-form>p{
    color: green;
    font-size: 17px;
}
.submit-book{
    display: block;
	margin: 20px auto;
	width: 25%; min-width: 120px;
	padding: 8px;
	text-align: center;
	color: white; font-size: 14px; font-weight: 500; font-family: 'Poppins', sans-serif;
	cursor: pointer;
	border: 0;
	border-radius: 15px;
	background-color: rgb(176, 160, 108);
	box-shadow: 0 10px 20px -5px  rgb(176, 160, 108);
	outline: none;
}
