
a{text-decoration: none;}
li{list-style: none;}
.container-1{
	width: 100%;
	position: relative;
	height: 1100px;
	
}
.body{
	width: 100%;
	
}

.backg{
	background-color: #F15D22;
	width: 100%;
	height: 300px;
	margin: 10px 0 10px 0;
	display: block;
	
}
.backg>label{
	width: 100%;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	padding-top: 35px;
	padding-right: 52%;
}

.box-contact{
	width: 100%;
    position: absolute;
	top: 110px;
}
.contact{
	width: 60%;
	margin: 0 auto;
	background-color: #F2F3F5;
	padding: 20px;
	box-shadow: 0px 0px 6px gray;
	display: flex;

}

.form{
	background-color: #fff;
	padding: 15px 60px;
	max-width: 500px;
	width: 100%;
}
.form-text-g{
	width: 90%;
	background-color: black;
}

.form-group>label{
	display: inline-block;
	color: #363A40;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}
.form-input {
	display: block;
	width: 90%; padding: 10px;
	border-radius: 15px; border: 0;
	outline: none;
	background-color: #F2F3F5;
	color: #363A40; font-size: 16px; font-family: 'Poppins', sans-serif;
}
.form-text{
	display: block;
	width: 100%;
    padding: 10px;
	border-radius: 15px;
	border: 0;
	outline: none;
	font-family: 'Poppins', sans-serif;
	background-color: #F2F3F5;
	color: #363A40;
	font-size: 16px;
}
.form-submit{
	display: block;
	margin-top: 45px;
	width: 45%; min-width: 141px;
	padding: 12px;
	color: white;
	text-align: center;
	cursor: pointer;
	border: 0;
	border-radius: 15px;
	background-color: #81C91D;
	font-size: 14px; font-weight: 500; font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	margin: 0 auto !important; 
	box-shadow: 0 10px 20px -5px #81C91D;
	outline: none;
}
/* Form-date */

.form-date{
	width: 100%; max-width: 370px;
	height: 415px;
	margin: 0 auto;
	background-color: #fff;
}
.form-date-in{
	width: 100%; max-width: 340px;
	height: 390px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #F2F3F5;
}
.form-date-in>p{
	font-size: 16px;
	color: #F15D22; font-weight: 500; font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}
.box-check{
	width: 100%; max-width: 312px;
	height: 320px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
}
.row{
	padding: 20px 10px;
	border-bottom: 1px solid gray;
	width: 80%;
	margin: 0 auto;
}
.date{
	margin-left: -20px;
}
.col-md-6>select{
	width: 60px;
	height: 25px;
}
.Availability{
	display: block;
	margin: 20px auto;
	width: 45%; min-width: 141px;
	padding: 8px;
	text-align: center;
	color: white; font-size: 14px; font-weight: 500; font-family: 'Poppins', sans-serif;
	cursor: pointer;
	border: 0;
	border-radius: 15px;
	background-color: #F15D22;
	box-shadow: 0 10px 20px -5px  #F15D22;
	outline: none;
}
@media all and (max-width: 1600px) {
	.contact{width: 70%;}
}
@media all and (max-width: 1240px) {
	.contact{width: 100%;}
	.backg{width: 100%;}
}

@media all and (max-width: 777px) {
	.contact{display: inline-block;}
	.container-1{	height: 1550px;}
	.form-date-in{	height: 490px;}
	.box-check{	height: 420px;}
	.form-date{	height: 515px;	margin: 15px auto;padding-top: 5px;}
	.form{	margin: 0 auto;}
}
@media all and (max-width: 550px) {
	.container{padding: 0;margin: 0;}
	.backg{width: 100%;}
	.form{padding: 15px 30px !important;}	
}

