* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.detail-body {
    width: 100%;
    height: auto;
}

.detail-room {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}

/* img bg */
.detail-img-bg {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.detail-img-bg-text {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-img-bg-text > label {
    font-size: 27px;
    color: #fff;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    position: relative;
}

.detail-img-slick > img {
    width: 100%;
}

/* slick-icon */
.slick-next-detail {
    position: absolute;
    right: 0;
    top: 286px;
    opacity: 0;
}

.slick-next-detail::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: blue;
    font-size: 80px;
    color: #fff;
}

.slick-prev-detail {
    position: absolute;
    left: 0;
    top: 286px;
    z-index: 999;
    opacity: 0;
}

.slick-prev-detail::before {
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 80px;
    color: #fff;
}

.detail-img-slick:hover .slick-next-detail, .detail-img-slick:hover .slick-prev-detail {
    opacity: 0.7;
}

/* information */
.detail-information {
    width: 100%;
    height: 500px;
    position: relative;
}

.information-body {
    position: absolute;
    width: 100%;
    max-width: 1000px;
    background-color: #f2f4f9;
    box-shadow: 0 0 5px gray;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.overview {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.overview-icon-3::before {
    content: '\f015';
}

.overview-icon-2::before {
    content: '\f236';
}

.overview-icon-1::before {
    content: '\f508';
}

.overview-icon-1::before, .overview-icon-2::before, .overview-icon-3::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.overview-people {
    display: block;
}

.overview-people > div {
    color: indianred;
    font-size: 50px;
}

.overview-people > b {
    color: gray;
}

@media all and (max-width: 1300px) {
    .information-body {
        top: 40%;
    }

    .detail-information {
        height: 600px;
    }
}

@media all and (max-width: 1010px) {
    .information-body {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        position: unset;
    }

    .detail-information {
        height: auto;
    }
}