a{
    text-decoration: none;
}
li{list-style: none;}
.box-footer{
    display: block;
    background-color: #F2F3F5;
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 15px;
}
.footer{
    max-width: 1200px;
}
.footer-text{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: #4e4d4d;
    padding-right: 10px;
}

.footer-text>label{
    font-size: 15px;
    color: indianred;
    font-weight: bold;
}
.footer-text>li>a{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: #e47878;
}
.ft-icon{
    display: flex;
    margin: 15px 5px;
}
.ft-icon>li>a{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    color: rgb(61, 60, 60);
    padding: 10px;
    line-height: 30px;
}
