* {
    font-family: Arial, Helvetica, sans-serif !important;
}

.bg-nav {
    background-color: #f2f4f9;
    padding: 14px 16px;
    margin-bottom: 10px;
}

.box-nav-menu {
    width: 90% !important;
    margin: auto;
}

.nav-menu {
    width: 90% !important;
    margin: auto;
}

.bg-nav .bg-light {
    background-color: #f2f4f9 !important;
}

.bg-nav .bg-light ul .setup-nav {
    padding: 0 8px;
    margin: 0 0.5rem;
    transition: ease all 0.3s;
}

.hover-menu {
    width: 0%;
    height: 2px;
    float: left;
    background: #F15D22;
    transition: 0.3s;
}

.bg-nav .bg-light ul .setup-nav:hover .hover-menu {
    width: 100%;
}

.bg-nav .bg-light ul .setup-nav a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black !important;
}

.bg-nav .bg-light ul .setup-nav a:hover {
    font-weight: 500;
    color: #F15D22 !important;
}

.bg-nav .bg-light ul .nav-logout {
    display: inline-block;
}

.bg-nav .bg-light ul .nav-logout:hover a {
    color: #ffffff;
    background: #F15D22;
}

.page-booking {
    background: #f2f4f973;
    position: relative;
    z-index: 0;
}

/* Slider */
.bg-slider {
    width: 100%;
    max-width: 1450px;
    margin: 15px auto;
    background-color: #F2F3F5;
    box-shadow: 0 0 5px 0px grey;
    z-index: 999;
}

.booking {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 15px 0;
}

.booking .booking__slide {
    width: 100%;
}

.img-fluid {
    width: 100%;
}

.booking__reservation {
    margin: 50px 0;
}

.text-make {
    padding-top: 28px;
    font-weight: 600;
    color: #F15D22;
    text-align: center;
}

.form-group-content {
    text-align: center;
}

.form-group-content > label {
    font-weight: 600;
    float: left;
}

.Shearch-Availability {
    margin-top: 25px;
    background-color: #F15D22;
    border: none;
    max-width: 150px;
    width: 100%;
    line-height: 33px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px #F15D22;
    color: #fff;
}

/* slider */
.bg-color {
    width: 100%;
    height: 100%;;
    max-height: 500px;
    background: #de5017;
    z-index: -1;
    position: absolute;
    top: 400px;
}

.box-list-hotel {
    margin-top: 40px;
}

.list-icon {
    background-color: #DDE0E4 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100% !important;
    margin: 0 7.5px;
}

.list-icon.active {
    background-color: #F53838 !important;
}

.bg-setup-form {
    background-image: url(https://www.fieldstonecommunities.com/wp-content/uploads/2016/08/Form-Background.jpg);
    background-size: cover;
    background-position: center;
}

.form-setup label {
    font-size: 20px;
}

.form-setup input {
    height: 45px;
}

.form-setup input:focus {
    border: 2px solid #40adbf;
}

.form-setup button {
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease all 0.3s;
}

.form-setup button:hover {
    background: #0D719A;
    border-color: #0D719A;
}

.box-card {
    box-shadow: 0 0 10px -4px grey;
}

/* service */
.service-img-bg {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/room.jpg");
    background-attachment: fixed;
    margin-bottom: 20px;
}

.service-page {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.service-page > p {
    color: #fff;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
    letter-spacing: 2px;
}
.slick-slider {
    padding-top: 10px;
}

.service-endow {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}
.service-endow-item {
    min-height: 300px;

}
.service-endow-item > label {
    color: #fff;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}

.box-img-endow {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.box-img-endow > img {
    width: 300px;
    min-height: 250px;
    margin: 0 auto;
    transition: .3s ease;

}

.box-img-endow > img:hover {
    transform: scale(1.2);
}

/* slick */
.slick-next {
    position: absolute;
    right: 0;
    top: 110px;
    opacity: 0;
}

.slick-next::before {
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: blue;
    font-size: 40px;
    color: #fff;
}

.slick-prev {
    position: absolute;
    left: 0;
    top: 110px;
    z-index: 999;
    opacity: 0;
}

.slick-prev::before {
    content: '\f053';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}

.service-endow:hover .slick-next, .service-endow:hover .slick-prev {
    opacity: 0.7;
}

/* slick */   

.card-content {
    display: flex;
    justify-content: space-between;
}