*{
    padding: 0;
    margin: 0;
}
.room-rate{
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
}
.room-rate-page{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/* title */
.room-rate-top{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.room-rate-title{
    color:indianred;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    border-bottom: 2px solid gray;
}
.room-rate-top>p{
    font-size: 16px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 20px auto 0px;
    border-bottom: 1.5px solid gray;
    padding: 10px 61px 20px;
}
.room-rate-title {
    color: indianred;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold;
}
/* item */
.room-rate-item{
    width: 100%;
}
.room-rate-item:nth-child(2n+1){
    background-color: #F2F3F5;
}
.room-rate-inner{
    width: 100%; max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    position: relative;
    display: flex;
}

.room-rate-item:nth-child(2n+1)
.room-rate-inner{
    justify-content: flex-end;
}
.img-room-item{
    width: 100%; max-width: 800px; height: auto;
    position: relative;
}
.img-room-item::before{
    content: '';
    background: linear-gradient(45deg,#FFD700 0%,#05abe0 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.room-rate-inner:hover .img-room-item::before{
    opacity: 0.5;
}

.img-room-item>img{
    width: 100%; height: auto;
}


.content-room-item{
    position: absolute;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    box-shadow: 0 0 6px -1px gray;
    border-radius: 10px;
    right: 40px;
    bottom: 40px;
    text-align: center;
}
.room-rate-item:nth-child(2n+1)
.content-room-item{
    left: 40px;
}
.content-room-item>h2{
    font-family: 'Times New Roman', Times, serif !important;
    color:indianred;
    padding-top: 10px;
}
.content-room-item>span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif !important;
    color: rgb(66, 65, 65);
    border-bottom: 2px solid gray ;
    padding-bottom: 10px;
}
.content-room-item>p{
    font-family: Arial, Helvetica, sans-serif !important;
    color: rgb(53, 53, 53);   
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}
.content-room-readmore{
    margin-bottom: 15px;
}
.content-room-readmore>a{
    color: indianred;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-room-item .btn-booking button{
    background-color: #F15D22;
    border: none;
    margin-bottom: 15px;
    max-width: 150px;
    width: 100%;
    line-height: 33px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px #F15D22;
}
.content-room-item button {
    color: #fff;
    text-decoration: none;
}

